# Python / Django
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
*.log

# Environment
.env
.env.local

# Node / React
node_modules/
dist/
build/
.vite/

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Backup
*.bak
*.tmp